@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";
/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/chats.css";
@import "screens/find.css";
@import "screens/ellipsis.css";

body{
    color: #2e363e;
    font-family:  "Open Sans", sans-serif;
    height: 1000vh;
}

.unable{
    position: absolute;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    top: 0;
}
@media screen and (max-width: 550px){
  .unable{
      display: none; 
  }
}